<configuration>
    <system.webServer>
	
	<!-- NEEDED FOR SENTRY: IT REQUIRES TO HAVE ACCESS TO THE FILE 'assets/NOTICES' -->
	<staticContent>
		<mimeMap fileExtension="." mimeType="text/plain" />
	</staticContent>
	 
	<!-- NEEDED TO ASSOCIATE THE iOS APP TO THE WEB SITE, IN COLLABORATION TO 
		 THE FILE '.well-known\apple-app-site-association'.
		 THIS ALLOW TO OPEN THEN iOS APP WHEN AN EXTERNAL URL IS OPENED,
		 E.G. THE ONE TO ADD THE ITEMS TO THE CART, OR TO OPEN THE ITEMS FORM.		 
	-->
	<handlers>
		<clear />
		<add name="StaticFile" path="*" verb="*" type=""
				modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule"
				scriptProcessor="" resourceType="Either" requireAccess="Read"
				allowPathInfo="false" preCondition="" responseBufferLimit="4194304" />
	</handlers>
	
	<!-- REDIRECT ALL REQUESTS TO 'index.html'.
		 THIS IS NEEDED TO MAKE THE EXTERNAL URLS WORK (E.G. THE URL TO OPEN THE ITEMS FORM)
	-->
	<rewrite>
		<rules>
			<rule name="redirect all requests" stopProcessing="true">
                <match url="^(.*)$" ignoreCase="false" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
                </conditions>
                <action type="Rewrite" url="index.html" appendQueryString="true" />
            </rule>
        </rules>
    </rewrite>
    </system.webServer>
</configuration>